.container{
    width: 95%;
    height: 20vh;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 5%;
}
#toggle{
    background-color: #d2d2d2;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
#toggle::before{
    position: absolute;
    content: "";
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 2.5px;
    transition: 0.2s;
}
input:checked + #toggle{
    background-color: #20096d;
}
input:checked + #toggle::before{
    transform: translateX(25px);
}
input{
    display: none;
}

#btn{
    width: 100px;
    height : 70px;
    border-radius: 30px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: large;

}

#boutonPlacement{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    width : 400px;
}

#txtSOS{
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

